DATABASE_URL="postgresql://postgres:postgres@localhost:5433/amias_db?schema=public"
JWT_ACCESS_SECRET="amias_access_super_secret_key_2026"
JWT_REFRESH_SECRET="amias_refresh_super_secret_key_2026"
PORT=3000
